.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.container>div{
    font : 300 2rem "Roboto"
}
.container>a{
    text-decoration: none;
    background-color: black;
    color: white;
    margin: 2px;
    border: 2px solid white;
    padding: 2px;;
}
.container>a:hover{
    color: tomato;
}